:root{
    --background-color: #f9f9f9;
    --text-color:#444;
    --link-hover:#982c61;
}
body{
    background:var(--background-color);
    color:var(--text-color);
    font-family:"Space Mono","courier new",sans-serif;
    margin:0;
    font-size:1.25em;
}
a{
    color:var(--text-color);
    border-bottom:3px dashed var(--text-color);
    text-decoration:none;
}
a:hover,a:focus{
    color:var(--link-hover);
    font-style:italic;
}
nav a{
    color:var(--text-color);
    font-size:1.15em;
    padding:0 5px;
}

header,main,nav,footer{
    text-align:center;
    grid-column: 2/3;
}
header,footer{
    margin:1em 0;
}
hr{
    border:2px solid var(--text-color);
}
#zero{
    text-align:justify;
}
.grid-container{
    max-width:1280px;
    margin:auto;
    box-sizing: border-box;
    display:grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto 75% auto;
    justify-content:space-evenly;
}
.flexbox{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.icon{
    width:25px !important;
    display:inline-block;
    padding:0 10px;
}
.preview{
    border-radius:25px;
    border:2px solid var(--text-color);
    width:100%;
}
a.seemore{
    padding:10px;
    background-color:var(--text-color);
    color:var(--background-color);
    text-decoration: none;
    border:transparent;
}
a.seemore:hover,
a.seemore:focus
{
    background-color:transparent;
    color:var(--text-color);
    border:2px var(--text-color) solid;
    font-style: normal;
}

@media (max-width:800px)
{
    body{
    font-size:1em;
    }
}

