
/*Default HTML element styling*/

body {
    background:whitesmoke;
    color:grey;
    font-size:1.5em;
    font-family:"Calibri";
    margin:0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0,0,0,0.25)), url("img/wolf_1280.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    margin:0;
    color:#fff;
    text-align:center;
    max-width:100vw;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
}

footer {
    border:1px dashed grey;
    text-align:center;
}

main{
    margin:25px;
}


h1{
    margin:0;
}

h4{
    border-top:10px white solid;
    font-style:italic;
}

.wrapper{
    width:100vw;
}

/*Custom elements*/
.header-text {
    font-size:1.33em;
    padding:3em 0;
}

.top-bar
{
    background:black;
    color:whitesmoke;
    padding:0.75em;
    font-size:1.25em;
    position:sticky;
    position: -webkit-sticky;
    top:0;
}

