body {
    background:lavender;
    color:#8080ad;
    font-size:18px;
    font-family:"Calibri";
}

#wrapper {
    width:650px;
    margin:auto;
    display:block;
}

header {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://wily.neocities.org/debug/deer-forest-sounds-m.png");
    background-position:center;
    margin:auto;color:#fff;
    padding:10px;
    text-align:center;
}

footer {
    border:1px dashed #9797c7;
    text-align:center; 
    width:650px;
    padding:10px;
    margin:auto;
    position:absolute;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }

h1 {
    line-height:20px;
}

h3 {
    line-height:20px;
}

.container {
    border-left:1px dashed #9797c7;
    padding:10px 10px 0px 10px;
    margin:10px auto;
    width:500px;
    float:left;
}

.sidebar {
    padding:10px;
    margin:10px auto;
    width:100px;
    float:left;
}
    
.clear { 
    clear:both; 
}